{
  "openapi": "3.1.0",
  "info": {
    "title": "토스증권 Open API",
    "version": "1.0.3"
  },
  "servers": [
    {
      "url": "https://openapi.tossinvest.com"
    }
  ],
  "security": [
    {
      "oauth2ClientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "토스증권 Open API의 모든 요청에 필요한 액세스 토큰을 발급하는 그룹입니다. OAuth 2.0 Client Credentials Grant 방식으로 `client_id`·`client_secret`을 토큰으로 교환하며, 발급된 토큰은 이후 모든 API의 `Authorization: Bearer` 헤더에 사용됩니다. 이 그룹의 엔드포인트만 `Authorization` 헤더 없이 호출하며, 응답은 BFF 공통 envelope이 아닌 OAuth 2.0 표준 형식을 따릅니다."
    },
    {
      "name": "Market Data",
      "description": "종목의 실시간성 시세 정보를 조회하는 그룹입니다. 매수/매도 호가, 현재가, 최근 체결 내역, 상·하한가, 캔들 차트(1분봉·일봉)를 제공합니다. 계좌 정보 없이 액세스 토큰만으로 호출할 수 있습니다. 호가·현재가·체결·상하한가는 `MARKET_DATA` Rate Limits Group 에 속하고, 캔들 차트는 호출 부하 특성이 달라 별도의 `MARKET_DATA_CHART` Rate Limits Group 으로 관리되므로, 두 그룹의 한도 응답 헤더를 각각 확인하는 것을 권장합니다.\n\n**이용 안내**  \n- 웹 소켓은 추후 지원 예정입니다"
    },
    {
      "name": "Stock Info",
      "description": "종목명·시장·통화·상장 상태·발행주식수 등 종목의 기본 참조 정보와 매수 유의사항을 제공하는 그룹입니다. 정리매매·단기과열·투자경고/위험·VI 발동·신주인수권 같은 매수 시 주의가 필요한 정보도 조회할 수 있습니다. 응답은 영업일 단위(또는 그 이상)로 갱신되는 데이터이므로 짧은 주기로 폴링하지 말고 화면·세션 진입 시점에 한 번 캐시해 사용하기를 권장합니다."
    },
    {
      "name": "Market Info",
      "description": "환율과 시장 운영 일정을 조회하는 그룹입니다. KRW↔USD 환율(1분 주기 갱신, 참고용 표시 환율)과 국내(KRX·NXT)·미국 시장의 장 운영 캘린더를 제공합니다. 장 캘린더는 영업일 여부와 데이마켓·프리·정규·애프터마켓 등 세션별 운영 시간을 포함하므로, 주문 가능 시간대 판단이나 휴장일 처리에 활용할 수 있습니다. 계좌와 무관한 정보로 토큰만으로 호출 가능합니다."
    },
    {
      "name": "Account",
      "description": "사용자 본인의 계좌 목록을 조회하는 그룹입니다. 해지·휴면 등을 제외한 정상 상태의 계좌만 반환하며, 계좌가 없으면 빈 배열을 응답합니다. 응답에 포함된 `accountSeq`는 보유 주식·주문·매수 가능 금액 등 계좌정보가  필요한 모든 API의 `X-Tossinvest-Account` 헤더 값으로 사용되므로, 다른 계좌 관련 API를 호출하기 전 가장 먼저 호출하는 진입점에 해당합니다."
    },
    {
      "name": "Asset",
      "description": "본인 계좌의 보유 자산 현황을 조회하는 그룹입니다. 종목별 보유 수량·매입가·평가금액·손익과 함께 계좌 전체의 합산 요약을 제공합니다. 국내(KR)·미국(US) 주식이 대상이며 해외 옵션·채권 등은 제외됩니다. 손익률은 원화(KRW) 환산 기준으로 계산됩니다. 호출 시 액세스 토큰과 `X-Tossinvest-Account` 헤더가 함께 필요합니다."
    },
    {
      "name": "Order",
      "description": "실제 매매 주문을 처리하는 그룹입니다. 지정가·시장가 주문 생성, 미체결 주문의 가격·수량 정정, 주문 취소를 지원합니다. 계좌에 직접 영향을 주는 API이므로 액세스 토큰과 `X-Tossinvest-Account` 헤더가 모두 필요합니다."
    },
    {
      "name": "Order History",
      "description": "제출한 주문의 처리 상태와 체결 내역을 조회하는 그룹입니다. `status` 파라미터로 라이프사이클 그룹(현재 진행 중 주문 `OPEN`)을 선택해 주문 목록을 조회하고, 개별 `orderId`로 모든 상태의 주문 상세를 조회할 수 있습니다. 상세 조회는 부분 체결 내역 등 주문 단위 정보를 포함합니다. 호출 시 `X-Tossinvest-Account` 헤더가 필요합니다."
    },
    {
      "name": "Order Info",
      "description": "주문을 내기 전 확인하는 거래 가능 정보를 제공하는 그룹입니다. 미수거래를 제외한 현금 기반 매수 가능 금액, 종목별 매도 가능 수량, 시장별 매매 수수료를 조회할 수 있습니다. 주문 화면에서 입력 가능한 최대 수량·금액을 안내하거나 예상 비용을 계산하는 용도로 활용하며, 정확한 주문 검증을 위해 주문 생성 직전에 호출하는 것을 권장합니다. 호출 시 `X-Tossinvest-Account` 헤더가 필요합니다."
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth2 액세스 토큰 발급",
        "description": "OAuth 2.0 Client Credentials Grant 로 access token 을 발급합니다.\n\n- 요청 본문은 `application/x-www-form-urlencoded` 으로 전송합니다.\n- 발급된 token 은 다른 모든 API 의 `Authorization: Bearer {access_token}` 헤더에 사용합니다.\n- 응답 형식은 BFF 공통 envelope 이 아닌 OAuth2 표준 형식을 따릅니다.\n- refresh token 은 제공되지 않습니다. 만료 시 동일 엔드포인트로 재발급합니다.\n- client 당 유효한 access token 은 1 개입니다. 재발급 시 이전에 발급된 token 은 즉시 무효화됩니다.\n\n**Rate Limits Group**: `AUTH`\n",
        "operationId": "issueOAuth2Token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2TokenRequest"
              },
              "example": {
                "grant_type": "client_credentials",
                "client_id": "c_01HXYZABCDEFG123456789",
                "client_secret": "s_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "토큰 발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2TokenResponse"
                },
                "example": {
                  "access_token": "eyJraWQiOiIyMDI2LTA0LTAxLWtleSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJjXzAxSFhZWiJ9...",
                  "token_type": "Bearer",
                  "expires_in": 86400
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청.\n필수 파라미터 누락, 지원하지 않는 grant_type 등.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                },
                "examples": {
                  "invalidRequest": {
                    "summary": "필수 파라미터 누락 / 형식 오류",
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Required parameter is missing."
                    }
                  },
                  "unsupportedGrantType": {
                    "summary": "지원하지 않는 grant_type",
                    "value": {
                      "error": "unsupported_grant_type",
                      "error_description": "Only client_credentials grant type is supported."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "클라이언트 인증 실패.\n`client_id` / `client_secret` 가 잘못되었거나 클라이언트가 비활성 상태인 경우.\n",
            "headers": {
              "WWW-Authenticate": {
                "description": "Basic 인증 챌린지. 토큰 엔드포인트는 `Basic realm=\"openapi\"` 로 응답합니다.\n",
                "schema": {
                  "type": "string"
                },
                "example": "Basic realm=\"openapi\""
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                },
                "example": {
                  "error": "invalid_client",
                  "error_description": "Client authentication failed."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/orderbook": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "호가 조회",
        "description": "매수/매도 호가 및 잔량을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getOrderbook",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/OrderbookResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T09:30:00.123+09:00",
                        "currency": "KRW",
                        "asks": [
                          {
                            "price": "72300",
                            "volume": "1200"
                          },
                          {
                            "price": "72200",
                            "volume": "3400"
                          },
                          {
                            "price": "72100",
                            "volume": "8500"
                          }
                        ],
                        "bids": [
                          {
                            "price": "72000",
                            "volume": "5200"
                          },
                          {
                            "price": "71900",
                            "volume": "4100"
                          },
                          {
                            "price": "71800",
                            "volume": "2700"
                          }
                        ]
                      }
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T22:30:00.456+09:00",
                        "currency": "USD",
                        "asks": [
                          {
                            "price": "185.75",
                            "volume": "250"
                          },
                          {
                            "price": "185.70",
                            "volume": "410"
                          }
                        ],
                        "bids": [
                          {
                            "price": "185.65",
                            "volume": "180"
                          },
                          {
                            "price": "185.60",
                            "volume": "320"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/prices": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "현재가 조회",
        "description": "종목의 현재가 정보를 조회합니다. 최대 200건 까지 다건 조회를 지원하며 콤마(`,`)로 구분합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPrices",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "종목 심볼. 최대 200 개를 콤마(`,`)로 구분. 예: `005930,000660` 또는 `AAPL,MSFT`. 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9.,\\-]+$"
            },
            "example": "005930,000660"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PriceResponse"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "timestamp": "2026-03-25T09:30:00.123+09:00",
                          "lastPrice": "72000",
                          "currency": "KRW"
                        }
                      ]
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple)",
                    "value": {
                      "result": [
                        {
                          "symbol": "AAPL",
                          "timestamp": "2026-03-25T22:30:00.456+09:00",
                          "lastPrice": "185.70",
                          "currency": "USD"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidBatchSize": {
                    "summary": "symbols 개수가 허용 범위(1~200) 를 벗어남",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "symbols",
                          "constraint": {
                            "min": 1,
                            "max": 200
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/trades": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "최근 체결 내역 조회",
        "description": "당일 최근 체결 내역을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getTrades",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 건수 (최대 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Trade"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": [
                        {
                          "price": "72000",
                          "volume": "120",
                          "timestamp": "2026-03-25T09:30:42.000+09:00",
                          "currency": "KRW"
                        },
                        {
                          "price": "71900",
                          "volume": "50",
                          "timestamp": "2026-03-25T09:30:41.500+09:00",
                          "currency": "KRW"
                        },
                        {
                          "price": "72000",
                          "volume": "200",
                          "timestamp": "2026-03-25T09:30:40.800+09:00",
                          "currency": "KRW"
                        }
                      ]
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple)",
                    "value": {
                      "result": [
                        {
                          "price": "185.70",
                          "volume": "15",
                          "timestamp": "2026-03-25T22:30:42.100+09:00",
                          "currency": "USD"
                        },
                        {
                          "price": "185.75",
                          "volume": "8",
                          "timestamp": "2026-03-25T22:30:41.700+09:00",
                          "currency": "USD"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/price-limits": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "상/하한가 조회",
        "description": "종목의 당일 상한가 및 하한가를 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPriceLimit",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PriceLimitResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "krStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T09:30:00.123+09:00",
                        "upperLimitPrice": "93000",
                        "lowerLimitPrice": "50400",
                        "currency": "KRW"
                      }
                    }
                  },
                  "usStock": {
                    "summary": "해외 주식 (Apple, 가격제한 없음)",
                    "value": {
                      "result": {
                        "timestamp": "2026-03-25T22:30:00.456+09:00",
                        "upperLimitPrice": null,
                        "lowerLimitPrice": null,
                        "currency": "USD"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/candles": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "캔들 차트 조회",
        "description": "종목의 캔들(OHLCV) 차트 데이터를 조회합니다. 최대 200개 봉을 반환합니다.\n\n**Rate Limits Group**: `MARKET_DATA_CHART`\n",
        "operationId": "getCandles",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "봉 단위",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "1d"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "조회 봉 수 (최대 200)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "페이지네이션 상한 (exclusive, ISO 8601). 이 시각보다 이전의 봉만 반환합니다. 미지정 시 가장 최신 봉부터 반환.\n다음 페이지 요청 시 이전 응답의 `nextBefore` 값을 그대로 전달합니다.\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-25T09:00:00+09:00"
          },
          {
            "name": "adjusted",
            "in": "query",
            "required": false,
            "description": "수정주가 적용 여부. `true` 면 수정주가 적용, `false` 면 미적용.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/CandlePageResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "dailyCandles": {
                    "summary": "일봉 (1d)",
                    "value": {
                      "result": {
                        "candles": [
                          {
                            "timestamp": "2026-03-25T09:00:00+09:00",
                            "openPrice": "71600",
                            "highPrice": "72300",
                            "lowPrice": "71500",
                            "closePrice": "72000",
                            "volume": "3521000",
                            "currency": "KRW"
                          },
                          {
                            "timestamp": "2026-03-24T09:00:00+09:00",
                            "openPrice": "71200",
                            "highPrice": "71800",
                            "lowPrice": "71000",
                            "closePrice": "71600",
                            "volume": "2984000",
                            "currency": "KRW"
                          }
                        ],
                        "nextBefore": "2026-03-24T09:00:00+09:00"
                      }
                    }
                  },
                  "minuteCandles": {
                    "summary": "분봉 (1m)",
                    "value": {
                      "result": {
                        "candles": [
                          {
                            "timestamp": "2026-03-25T09:32:00+09:00",
                            "openPrice": "72000",
                            "highPrice": "72100",
                            "lowPrice": "71950",
                            "closePrice": "72050",
                            "volume": "15200",
                            "currency": "KRW"
                          },
                          {
                            "timestamp": "2026-03-25T09:31:00+09:00",
                            "openPrice": "71950",
                            "highPrice": "72050",
                            "lowPrice": "71900",
                            "closePrice": "72000",
                            "volume": "18400",
                            "currency": "KRW"
                          }
                        ],
                        "nextBefore": "2026-03-25T09:31:00+09:00"
                      }
                    }
                  },
                  "lastPage": {
                    "summary": "마지막 페이지 (nextBefore null)",
                    "value": {
                      "result": {
                        "candles": [
                          {
                            "timestamp": "2026-03-20T09:00:00+09:00",
                            "openPrice": "70800",
                            "highPrice": "71200",
                            "lowPrice": "70500",
                            "closePrice": "71000",
                            "volume": "2112000",
                            "currency": "KRW"
                          }
                        ],
                        "nextBefore": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedCandleInterval": {
                    "summary": "지원하지 않는 캔들 주기",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "지원하지 않는 캔들 주기입니다.",
                        "data": {
                          "field": "interval",
                          "allowedValues": [
                            "1m",
                            "1d"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketData"
          }
        }
      }
    },
    "/api/v1/stocks": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "종목 기본 정보 조회",
        "description": "종목의 기본 정보를 조회합니다. `symbols` 를 콤마로 구분하여 최대 200건 까지 다건 조회를 지원합니다.\n종목명, 시장, 통화, 상장 상태, 거래정지 여부 등 트레이딩에서 필요한 참조 데이터를 제공합니다.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStocks",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "종목 심볼. 콤마로 구분하여 최대 200건. 예: 005930 또는 005930,AAPL. 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9.,\\-]+$"
            },
            "example": "005930,AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StockInfo"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "multiple": {
                    "summary": "다건 조회 (국내 + 미국)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "name": "삼성전자",
                          "englishName": "SamsungElec",
                          "isinCode": "KR7005930003",
                          "market": "KOSPI",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "KRW",
                          "listDate": "1975-06-11",
                          "delistDate": null,
                          "sharesOutstanding": "5919637922",
                          "leverageFactor": null,
                          "koreanMarketDetail": {
                            "liquidationTrading": false,
                            "nxtSupported": true,
                            "krxTradingSuspended": false,
                            "nxtTradingSuspended": false
                          }
                        },
                        {
                          "symbol": "AAPL",
                          "name": "애플",
                          "englishName": "APPLE INC",
                          "isinCode": "US0378331005",
                          "market": "NASDAQ",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "USD",
                          "listDate": "1980-12-12",
                          "delistDate": null,
                          "sharesOutstanding": "14702703000",
                          "leverageFactor": null,
                          "koreanMarketDetail": null
                        }
                      ]
                    }
                  },
                  "krxStock": {
                    "summary": "국내 주식 (삼성전자)",
                    "value": {
                      "result": [
                        {
                          "symbol": "005930",
                          "name": "삼성전자",
                          "englishName": "SamsungElec",
                          "isinCode": "KR7005930003",
                          "market": "KOSPI",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "KRW",
                          "listDate": "1975-06-11",
                          "delistDate": null,
                          "sharesOutstanding": "5919637922",
                          "leverageFactor": null,
                          "koreanMarketDetail": {
                            "liquidationTrading": false,
                            "nxtSupported": true,
                            "krxTradingSuspended": false,
                            "nxtTradingSuspended": false
                          }
                        }
                      ]
                    }
                  },
                  "usStock": {
                    "summary": "미국 주식 (Apple)",
                    "value": {
                      "result": [
                        {
                          "symbol": "AAPL",
                          "name": "애플",
                          "englishName": "APPLE INC",
                          "isinCode": "US0378331005",
                          "market": "NASDAQ",
                          "securityType": "STOCK",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "USD",
                          "listDate": "1980-12-12",
                          "delistDate": null,
                          "sharesOutstanding": "14702703000",
                          "leverageFactor": null,
                          "koreanMarketDetail": null
                        }
                      ]
                    }
                  },
                  "etf": {
                    "summary": "ETF (KODEX 200)",
                    "value": {
                      "result": [
                        {
                          "symbol": "069500",
                          "name": "KODEX 200",
                          "englishName": "KODEX 200",
                          "isinCode": "KR7069500007",
                          "market": "KOSPI",
                          "securityType": "ETF",
                          "isCommonShare": true,
                          "status": "ACTIVE",
                          "currency": "KRW",
                          "listDate": "2002-10-14",
                          "delistDate": null,
                          "sharesOutstanding": "208050000",
                          "leverageFactor": "1",
                          "koreanMarketDetail": {
                            "liquidationTrading": false,
                            "nxtSupported": false,
                            "krxTradingSuspended": false,
                            "nxtTradingSuspended": null
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "tooManySymbols": {
                    "summary": "허용 개수 초과 (1~200건)",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "요청이 올바르지 않습니다.",
                        "data": {
                          "field": "symbols",
                          "constraint": {
                            "min": 1,
                            "max": 200
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorStock"
          }
        }
      }
    },
    "/api/v1/stocks/{symbol}/warnings": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "매수 유의사항 조회",
        "description": "종목의 매수 유의사항 및 변동성 완화(VI) 발동 정보를 조회합니다.\n\n**포함 종류**: 정리매매(`LIQUIDATION_TRADING`), 단기과열종목(`OVERHEATED`), 투자경고(`INVESTMENT_WARNING`), 투자위험(`INVESTMENT_RISK`), VI 정적/동적/혼합(`VI_STATIC` / `VI_DYNAMIC` / `VI_STATIC_AND_DYNAMIC`), 신주인수권(`STOCK_WARRANTS`). 전체 enum 은 `StockWarning.warningType` 참조.\n\n**\"활성\"의 시간 기준**: 응답 시점 기준으로 `startDate <= 오늘 <= endDate` 인 항목 (또는 `endDate` 가 `null` 인 진행 중 항목).\n\n**응답 정렬**: `startDate` 내림차순 (최근 발동된 항목부터). `startDate` 가 동일한 경우 정렬 순서는 보장되지 않습니다.\n\n**데이터 적시성**: VI 발동/해제는 거래소 이벤트 발생 후 수 초 내 반영됩니다. 정리매매·단기과열·투자경고/위험 지정은 거래소 공시 기준 일배치로 반영됩니다.\n\n**미존재 vs 빈 배열**:\n- 종목 자체가 없으면 `404 stock-not-found`.\n- 종목은 있으나 활성 유의사항이 없으면 `200 OK` + `result: []`.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStockWarnings",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StockWarning"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "withWarnings": {
                    "summary": "유의사항이 있는 종목",
                    "value": {
                      "result": [
                        {
                          "warningType": "OVERHEATED",
                          "exchange": "KRX",
                          "startDate": "2026-03-20",
                          "endDate": "2026-03-27"
                        },
                        {
                          "warningType": "VI_STATIC",
                          "exchange": "KRX",
                          "startDate": "2026-03-26",
                          "endDate": null
                        }
                      ]
                    }
                  },
                  "noWarnings": {
                    "summary": "유의사항이 없는 종목",
                    "value": {
                      "result": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorStock"
          }
        }
      }
    },
    "/api/v1/exchange-rate": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "환율 조회",
        "description": "KRW ↔ USD 환율 정보를 조회합니다.\n\n- **갱신 주기 1분**, 참고용 표시 환율. 실제 주문 시 적용되는 거래 환율과 다를 수 있습니다.\n- `dateTime` 미지정 시 **현재 시점의 유효 환율**이 응답됩니다.\n- 응답의 `validFrom` ~ `validUntil` 은 해당 환율의 **유효 시간 윈도** (보통 1분) 입니다.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getExchangeRate",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "dateTime",
            "in": "query",
            "required": false,
            "description": "조회할 환율 시각. 특정 시점의 환율을 조회할 수 있습니다.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-25T09:30:00+09:00"
          },
          {
            "name": "baseCurrency",
            "in": "query",
            "required": true,
            "description": "기준 통화",
            "schema": {
              "$ref": "#/components/schemas/Currency"
            },
            "example": "USD"
          },
          {
            "name": "quoteCurrency",
            "in": "query",
            "required": true,
            "description": "표시 통화 (quote currency)",
            "schema": {
              "$ref": "#/components/schemas/Currency"
            },
            "example": "KRW"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ExchangeRateResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "usdToKrwUp": {
                    "summary": "USD→KRW 환율 (상승)",
                    "value": {
                      "result": {
                        "baseCurrency": "USD",
                        "quoteCurrency": "KRW",
                        "rate": "1380.5",
                        "midRate": "1375",
                        "basisPoint": "40",
                        "rateChangeType": "UP",
                        "validFrom": "2026-03-25T09:30:00+09:00",
                        "validUntil": "2026-03-25T09:31:00+09:00"
                      }
                    }
                  },
                  "usdToKrwDown": {
                    "summary": "USD→KRW 환율 (하락)",
                    "value": {
                      "result": {
                        "baseCurrency": "USD",
                        "quoteCurrency": "KRW",
                        "rate": "1372.3",
                        "midRate": "1375",
                        "basisPoint": "-19.6",
                        "rateChangeType": "DOWN",
                        "validFrom": "2026-03-25T09:30:00+09:00",
                        "validUntil": "2026-03-25T09:31:00+09:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedCurrency": {
                    "summary": "지원하지 않는 통화",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "지원하지 않는 통화입니다.",
                        "data": {
                          "field": "baseCurrency",
                          "allowedValues": [
                            "KRW",
                            "USD"
                          ]
                        }
                      }
                    }
                  },
                  "sameCurrency": {
                    "summary": "기준 통화와 상대 통화가 같음",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "기준 통화와 상대 통화가 같을 수 없습니다.",
                        "data": {
                          "field": "baseCurrency,quoteCurrency"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "환율 정보 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "exchangeRateNotFound": {
                    "summary": "요청한 시점의 환율 정보 없음",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "exchange-rate-not-found",
                        "message": "요청한 시점의 환율 정보가 없습니다."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketInfo"
          }
        }
      }
    },
    "/api/v1/market-calendar/KR": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "국내 장 운영 정보 조회",
        "description": "국내 시장의 거래 가능 시간을 조회합니다. 통합 모드 (KRX+NXT) 기준이며, 특수장(시간외종가/시간외단일가)은 제외됩니다. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getKrMarketCalendar",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-03-25"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/KrMarketCalendarResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "businessDay": {
                    "summary": "영업일 (KRX+NXT 정상 운영)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-03-25",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-25T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-25T08:50:00+09:00",
                              "endTime": "2026-03-25T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-25T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-25T15:20:00+09:00",
                              "endTime": "2026-03-25T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-25T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-25T15:40:00+09:00",
                              "endTime": "2026-03-25T20:00:00+09:00"
                            }
                          }
                        },
                        "previousBusinessDay": {
                          "date": "2026-03-24",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-24T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T08:50:00+09:00",
                              "endTime": "2026-03-24T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-24T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T15:20:00+09:00",
                              "endTime": "2026-03-24T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-24T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-24T15:40:00+09:00",
                              "endTime": "2026-03-24T20:00:00+09:00"
                            }
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-03-26",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-26T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T08:50:00+09:00",
                              "endTime": "2026-03-26T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-26T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T15:20:00+09:00",
                              "endTime": "2026-03-26T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-26T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-26T15:40:00+09:00",
                              "endTime": "2026-03-26T20:00:00+09:00"
                            }
                          }
                        }
                      }
                    }
                  },
                  "holidayToday": {
                    "summary": "휴장일 (today 만 휴장, integrated null)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-05-05",
                          "integrated": null
                        },
                        "previousBusinessDay": {
                          "date": "2026-05-04",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-05-04T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-04T08:50:00+09:00",
                              "endTime": "2026-05-04T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-05-04T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-04T15:20:00+09:00",
                              "endTime": "2026-05-04T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-05-04T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-05-04T15:40:00+09:00",
                              "endTime": "2026-05-04T20:00:00+09:00"
                            }
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-05-06",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-05-06T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-06T08:50:00+09:00",
                              "endTime": "2026-05-06T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-05-06T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-05-06T15:20:00+09:00",
                              "endTime": "2026-05-06T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-05-06T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-05-06T15:40:00+09:00",
                              "endTime": "2026-05-06T20:00:00+09:00"
                            }
                          }
                        }
                      }
                    }
                  },
                  "nxtPreMarketHoliday": {
                    "summary": "부분 휴장 (NXT 프리마켓만 휴장, 정규장·애프터마켓은 운영)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-03-25",
                          "integrated": {
                            "preMarket": null,
                            "regularMarket": {
                              "startTime": "2026-03-25T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-25T15:20:00+09:00",
                              "endTime": "2026-03-25T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-25T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-25T15:40:00+09:00",
                              "endTime": "2026-03-25T20:00:00+09:00"
                            }
                          }
                        },
                        "previousBusinessDay": {
                          "date": "2026-03-24",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-24T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T08:50:00+09:00",
                              "endTime": "2026-03-24T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-24T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-24T15:20:00+09:00",
                              "endTime": "2026-03-24T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-24T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-24T15:40:00+09:00",
                              "endTime": "2026-03-24T20:00:00+09:00"
                            }
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-03-26",
                          "integrated": {
                            "preMarket": {
                              "startTime": "2026-03-26T08:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T08:50:00+09:00",
                              "endTime": "2026-03-26T09:00:00+09:00"
                            },
                            "regularMarket": {
                              "startTime": "2026-03-26T09:00:00+09:00",
                              "singlePriceAuctionStartTime": "2026-03-26T15:20:00+09:00",
                              "endTime": "2026-03-26T15:30:00+09:00"
                            },
                            "afterMarket": {
                              "startTime": "2026-03-26T15:30:00+09:00",
                              "singlePriceAuctionEndTime": "2026-03-26T15:40:00+09:00",
                              "endTime": "2026-03-26T20:00:00+09:00"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedDate": {
                    "summary": "지원하지 않는 조회 일자",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "unsupported-date",
                        "message": "요청한 조회 일자를 지원하지 않습니다.",
                        "data": {
                          "field": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketInfo"
          }
        }
      }
    },
    "/api/v1/market-calendar/US": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "해외 장 운영 정보 조회",
        "description": "미국 시장의 장 운영 시간을 조회합니다. 4 세션(`dayMarket`, `preMarket`, `regularMarket`, `afterMarket`) 별로 nullable. 휴장 시 4 세션 모두 null. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getUsMarketCalendar",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "조회 기준일 (YYYY-MM-DD, 미국 현지 날짜)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-03-25"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/UsMarketCalendarResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "businessDay": {
                    "summary": "영업일 (데이마켓 포함, 4 세션 nested)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-03-25",
                          "dayMarket": {
                            "startTime": "2026-03-25T09:00:00+09:00",
                            "endTime": "2026-03-25T16:50:00+09:00"
                          },
                          "preMarket": {
                            "startTime": "2026-03-25T17:00:00+09:00",
                            "endTime": "2026-03-25T22:30:00+09:00"
                          },
                          "regularMarket": {
                            "startTime": "2026-03-25T22:30:00+09:00",
                            "endTime": "2026-03-26T05:00:00+09:00"
                          },
                          "afterMarket": {
                            "startTime": "2026-03-26T05:00:00+09:00",
                            "endTime": "2026-03-26T07:00:00+09:00"
                          }
                        },
                        "previousBusinessDay": {
                          "date": "2026-03-24",
                          "dayMarket": {
                            "startTime": "2026-03-24T09:00:00+09:00",
                            "endTime": "2026-03-24T16:50:00+09:00"
                          },
                          "preMarket": {
                            "startTime": "2026-03-24T17:00:00+09:00",
                            "endTime": "2026-03-24T22:30:00+09:00"
                          },
                          "regularMarket": {
                            "startTime": "2026-03-24T22:30:00+09:00",
                            "endTime": "2026-03-25T05:00:00+09:00"
                          },
                          "afterMarket": {
                            "startTime": "2026-03-25T05:00:00+09:00",
                            "endTime": "2026-03-25T07:00:00+09:00"
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-03-26",
                          "dayMarket": {
                            "startTime": "2026-03-26T09:00:00+09:00",
                            "endTime": "2026-03-26T16:50:00+09:00"
                          },
                          "preMarket": {
                            "startTime": "2026-03-26T17:00:00+09:00",
                            "endTime": "2026-03-26T22:30:00+09:00"
                          },
                          "regularMarket": {
                            "startTime": "2026-03-26T22:30:00+09:00",
                            "endTime": "2026-03-27T05:00:00+09:00"
                          },
                          "afterMarket": {
                            "startTime": "2026-03-27T05:00:00+09:00",
                            "endTime": "2026-03-27T07:00:00+09:00"
                          }
                        }
                      }
                    }
                  },
                  "holidayToday": {
                    "summary": "휴장일 (today 만 휴장, 4 세션 모두 null)",
                    "value": {
                      "result": {
                        "today": {
                          "date": "2026-07-03",
                          "dayMarket": null,
                          "preMarket": null,
                          "regularMarket": null,
                          "afterMarket": null
                        },
                        "previousBusinessDay": {
                          "date": "2026-07-02",
                          "dayMarket": {
                            "startTime": "2026-07-02T09:00:00+09:00",
                            "endTime": "2026-07-02T16:50:00+09:00"
                          },
                          "preMarket": {
                            "startTime": "2026-07-02T17:00:00+09:00",
                            "endTime": "2026-07-02T22:30:00+09:00"
                          },
                          "regularMarket": {
                            "startTime": "2026-07-02T22:30:00+09:00",
                            "endTime": "2026-07-03T05:00:00+09:00"
                          },
                          "afterMarket": {
                            "startTime": "2026-07-03T05:00:00+09:00",
                            "endTime": "2026-07-03T07:00:00+09:00"
                          }
                        },
                        "nextBusinessDay": {
                          "date": "2026-07-06",
                          "dayMarket": {
                            "startTime": "2026-07-06T09:00:00+09:00",
                            "endTime": "2026-07-06T16:50:00+09:00"
                          },
                          "preMarket": {
                            "startTime": "2026-07-06T17:00:00+09:00",
                            "endTime": "2026-07-06T22:30:00+09:00"
                          },
                          "regularMarket": {
                            "startTime": "2026-07-06T22:30:00+09:00",
                            "endTime": "2026-07-07T05:00:00+09:00"
                          },
                          "afterMarket": {
                            "startTime": "2026-07-07T05:00:00+09:00",
                            "endTime": "2026-07-07T07:00:00+09:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorMarketInfo"
          }
        }
      }
    },
    "/api/v1/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "계좌 목록 조회",
        "description": "사용자의 계좌 목록을 조회합니다.\n\n- 현재는 **종합매매 (`BROKERAGE`) 계좌만 반환**하며, 계좌가 없으면 빈 배열. 자녀계좌는 사용할 수 없습니다.\n- 응답의 `accountSeq` 는 **다른 모든 사용자 컨텍스트 API** (보유 주식, 주문, 매수가능금액 등) 의 `X-Tossinvest-Account` 헤더에 사용합니다.\n- `accountType` enum 은 `BROKERAGE` / `OVERSEAS_DERIVATIVES` / `PENSION_SAVINGS` / `RESHORING_INVESTMENT` 가 정의되어 있으나 본 API 에서는 현재 `BROKERAGE` 만 노출됩니다. enum 의미는 `Account.accountType` schema 참조.\n\n**Rate Limits Group**: `ACCOUNT`\n",
        "operationId": "getAccounts",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Account"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "brokerageAccount": {
                    "summary": "종합매매 계좌",
                    "value": {
                      "result": [
                        {
                          "accountNo": "12345678901",
                          "accountSeq": 1,
                          "accountType": "BROKERAGE"
                        }
                      ]
                    }
                  },
                  "emptyAccounts": {
                    "summary": "계좌 없음",
                    "value": {
                      "result": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/holdings": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "보유 주식 조회",
        "description": "보유 주식 정보를 조회합니다.\n국내(KR)·미국(US) 주식만 포함하며, 해외 옵션·채권은 제외합니다.\n보유 종목이 없으면 요약 금액은 0이고 items는 빈 배열입니다.\n\n**Rate Limits Group**: `ASSET`\n",
        "operationId": "getHoldings",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9.\\-]+$"
            },
            "description": "종목 심볼. KR: 6자리 숫자 (예: 005930), US: 티커 (예: AAPL).\n영문 대/소문자, 숫자, '.', '-' 만 허용한다.\n제공 시 해당 종목만 필터링하여 반환하며, 요약 필드도 해당 종목 기준으로 재계산합니다.\n미제공 시 전체 보유 종목을 반환합니다.\n",
            "example": "005930"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/HoldingsOverview"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "withHoldings": {
                    "summary": "보유 종목 있음 (KR + US 혼합)",
                    "description": "krw에는 KRW로 거래되는 국내 종목의 합만, usd에는 USD로 거래되는 해외 종목의 합만 포함됩니다. rate는 SDK가 제공하는 전체 자산 원화 환산 기준 손익률입니다.",
                    "value": {
                      "result": {
                        "totalPurchaseAmount": {
                          "krw": "6500000",
                          "usd": "1553"
                        },
                        "marketValue": {
                          "amount": {
                            "krw": "7200000",
                            "usd": "1785"
                          },
                          "amountAfterCost": {
                            "krw": "7050000",
                            "usd": "1771.43"
                          }
                        },
                        "profitLoss": {
                          "amount": {
                            "krw": "700000",
                            "usd": "232"
                          },
                          "amountAfterCost": {
                            "krw": "550000",
                            "usd": "218.43"
                          },
                          "rate": "0.1179",
                          "rateAfterCost": "0.0983"
                        },
                        "dailyProfitLoss": {
                          "amount": {
                            "krw": "100000",
                            "usd": "25"
                          },
                          "rate": "0.0141"
                        },
                        "items": [
                          {
                            "symbol": "005930",
                            "name": "삼성전자",
                            "marketCountry": "KR",
                            "currency": "KRW",
                            "quantity": "100",
                            "lastPrice": "72000",
                            "averagePurchasePrice": "65000",
                            "marketValue": {
                              "purchaseAmount": "6500000",
                              "amount": "7200000",
                              "amountAfterCost": "7050000"
                            },
                            "profitLoss": {
                              "amount": "700000",
                              "amountAfterCost": "550000",
                              "rate": "0.1077",
                              "rateAfterCost": "0.0846"
                            },
                            "dailyProfitLoss": {
                              "amount": "100000",
                              "rate": "0.0141"
                            },
                            "cost": {
                              "commission": "14400",
                              "tax": "135600"
                            }
                          },
                          {
                            "symbol": "AAPL",
                            "name": "Apple Inc.",
                            "marketCountry": "US",
                            "currency": "USD",
                            "quantity": "10",
                            "lastPrice": "178.5",
                            "averagePurchasePrice": "155.3",
                            "marketValue": {
                              "purchaseAmount": "1553",
                              "amount": "1785",
                              "amountAfterCost": "1771.43"
                            },
                            "profitLoss": {
                              "amount": "232",
                              "amountAfterCost": "218.43",
                              "rate": "0.1494",
                              "rateAfterCost": "0.1406"
                            },
                            "dailyProfitLoss": {
                              "amount": "25",
                              "rate": "0.0142"
                            },
                            "cost": {
                              "commission": "3.57",
                              "tax": "10"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "filteredBySymbol": {
                    "summary": "symbol 필터 적용 (005930)",
                    "value": {
                      "result": {
                        "totalPurchaseAmount": {
                          "krw": "6500000",
                          "usd": null
                        },
                        "marketValue": {
                          "amount": {
                            "krw": "7200000",
                            "usd": null
                          },
                          "amountAfterCost": {
                            "krw": "7050000",
                            "usd": null
                          }
                        },
                        "profitLoss": {
                          "amount": {
                            "krw": "700000",
                            "usd": null
                          },
                          "amountAfterCost": {
                            "krw": "550000",
                            "usd": null
                          },
                          "rate": "0.1077",
                          "rateAfterCost": "0.0846"
                        },
                        "dailyProfitLoss": {
                          "amount": {
                            "krw": "100000",
                            "usd": null
                          },
                          "rate": "0.0141"
                        },
                        "items": [
                          {
                            "symbol": "005930",
                            "name": "삼성전자",
                            "marketCountry": "KR",
                            "currency": "KRW",
                            "quantity": "100",
                            "lastPrice": "72000",
                            "averagePurchasePrice": "65000",
                            "marketValue": {
                              "purchaseAmount": "6500000",
                              "amount": "7200000",
                              "amountAfterCost": "7050000"
                            },
                            "profitLoss": {
                              "amount": "700000",
                              "amountAfterCost": "550000",
                              "rate": "0.1077",
                              "rateAfterCost": "0.0846"
                            },
                            "dailyProfitLoss": {
                              "amount": "100000",
                              "rate": "0.0141"
                            },
                            "cost": {
                              "commission": "14400",
                              "tax": "135600"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "filteredByUsSymbol": {
                    "summary": "symbol 필터 적용 (AAPL, 해외 종목)",
                    "description": "해외 종목만 필터된 결과의 krw는 0(국내 종목 없음), usd만 합산됩니다. rate는 단일 통화(USD) 기준으로 재계산합니다.",
                    "value": {
                      "result": {
                        "totalPurchaseAmount": {
                          "krw": "0",
                          "usd": "1500.00"
                        },
                        "marketValue": {
                          "amount": {
                            "krw": "0",
                            "usd": "1700.00"
                          },
                          "amountAfterCost": {
                            "krw": "0",
                            "usd": "1650.00"
                          }
                        },
                        "profitLoss": {
                          "amount": {
                            "krw": "0",
                            "usd": "200.00"
                          },
                          "amountAfterCost": {
                            "krw": "0",
                            "usd": "150.00"
                          },
                          "rate": "0.1333",
                          "rateAfterCost": "0.1000"
                        },
                        "dailyProfitLoss": {
                          "amount": {
                            "krw": "0",
                            "usd": "20.00"
                          },
                          "rate": "0.0119"
                        },
                        "items": [
                          {
                            "symbol": "AAPL",
                            "name": "Apple Inc.",
                            "marketCountry": "US",
                            "currency": "USD",
                            "quantity": "10",
                            "lastPrice": "170.00",
                            "averagePurchasePrice": "150.00",
                            "marketValue": {
                              "purchaseAmount": "1500.00",
                              "amount": "1700.00",
                              "amountAfterCost": "1650.00"
                            },
                            "profitLoss": {
                              "amount": "200.00",
                              "amountAfterCost": "150.00",
                              "rate": "0.1333",
                              "rateAfterCost": "0.10"
                            },
                            "dailyProfitLoss": {
                              "amount": "20.00",
                              "rate": "0.012"
                            },
                            "cost": {
                              "commission": "2.15",
                              "tax": null
                            }
                          }
                        ]
                      }
                    }
                  },
                  "filteredBySymbolNotFound": {
                    "summary": "symbol 필터 적용 — 해당 종목 미보유",
                    "value": {
                      "result": {
                        "totalPurchaseAmount": {
                          "krw": "0",
                          "usd": null
                        },
                        "marketValue": {
                          "amount": {
                            "krw": "0",
                            "usd": null
                          },
                          "amountAfterCost": {
                            "krw": "0",
                            "usd": null
                          }
                        },
                        "profitLoss": {
                          "amount": {
                            "krw": "0",
                            "usd": null
                          },
                          "amountAfterCost": {
                            "krw": "0",
                            "usd": null
                          },
                          "rate": "0",
                          "rateAfterCost": "0"
                        },
                        "dailyProfitLoss": {
                          "amount": {
                            "krw": "0",
                            "usd": null
                          },
                          "rate": "0"
                        },
                        "items": []
                      }
                    }
                  },
                  "emptyHoldings": {
                    "summary": "보유 종목 없음",
                    "value": {
                      "result": {
                        "totalPurchaseAmount": {
                          "krw": "0",
                          "usd": null
                        },
                        "marketValue": {
                          "amount": {
                            "krw": "0",
                            "usd": null
                          },
                          "amountAfterCost": {
                            "krw": "0",
                            "usd": null
                          }
                        },
                        "profitLoss": {
                          "amount": {
                            "krw": "0",
                            "usd": null
                          },
                          "amountAfterCost": {
                            "krw": "0",
                            "usd": null
                          },
                          "rate": "0",
                          "rateAfterCost": "0"
                        },
                        "dailyProfitLoss": {
                          "amount": {
                            "krw": "0",
                            "usd": null
                          },
                          "rate": "0"
                        },
                        "items": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountHeaderRequired"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorAsset"
          }
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "tags": [
          "Order History"
        ],
        "summary": "주문 목록 조회",
        "description": "주문 목록을 조회합니다.\nstatus 파라미터로 주문 상태를 필터링합니다.\n\n**지원하는 status 값:**\n- 진행 중 주문: `OPEN` -- PENDING, PARTIAL_FILLED, PENDING_CANCEL, PENDING_REPLACE 상태의 주문을 반환\n- 종료된 주문: `CLOSED` -- 현재 호출 시 `400 closed-not-supported` 를 반환합니다.\n\nsymbol을 지정하면 해당 종목의 주문만 필터링하여 반환합니다.\n\n**페이징 동작:**\n- `status=OPEN`: 모든 대기 중 주문을 전량 반환합니다. `limit`, `cursor` 는 무시되며, `from`/`to` 만 주문 생성일(`orderedAt`, KST 기준) 범위 필터로 적용됩니다 (미지정 시 전체 기간).\n- `status=CLOSED`: 미지원. `cursor`, `limit`, `from`, `to` 파라미터는 현재 효과가 없습니다.\n\n**Rate Limits Group**: `ORDER_HISTORY`\n",
        "operationId": "getOrders",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "주문 라이프사이클 그룹 필터. 이 값은 각 주문의 세부 상태(`orders[].status`)를 **그룹화한 라벨**이며, `orders[].status` 와 값 체계가 다릅니다.\n\n- `OPEN`: 진행 중 주문 그룹 — `orders[].status` ∈ `{PENDING, PARTIAL_FILLED, PENDING_CANCEL, PENDING_REPLACE}`\n- `CLOSED`: 종료된 주문 그룹. 현재 호출 시 `400 closed-not-supported` 를 반환합니다.\n\n예: `status=OPEN` 을 요청하면 응답의 `orders[].status` 는 개별 주문에 따라 `PENDING`, `PARTIAL_FILLED`, `PENDING_CANCEL`, `PENDING_REPLACE` 중 하나로 내려옵니다.\n",
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "CLOSED"
              ]
            },
            "example": "OPEN"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "종목 심볼. 지정 시 해당 종목의 주문만 조회.\nKRX: 6자리 숫자 (`005930`), US: 영문 티커 (`AAPL`).\n영문 대/소문자, 숫자, '.', '-' 만 허용한다.\n",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9.\\-]+$"
            },
            "examples": {
              "krStock": {
                "summary": "국내주식 (삼성전자)",
                "value": "005930"
              },
              "usStock": {
                "summary": "해외주식 (Apple)",
                "value": "AAPL"
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "조회 시작일 (inclusive, KST 기준). 주문 생성 시간(`orderedAt`) 기준. 미지정 시 전체 기간.\n`status=CLOSED` 는 미지원이므로 현재 효과가 없습니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-03-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "조회 종료일 (inclusive, KST 기준). 주문 생성 시간(`orderedAt`) 기준. 미지정 시 전체 기간.\n`status=CLOSED` 는 미지원이므로 현재 효과가 없습니다.\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-03-31"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "페이지네이션 커서. `OPEN` 에서는 무시되며, `CLOSED` 는 미지원이므로 현재 효과가 없습니다.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "페이지 크기. `OPEN` 에서는 무시됩니다 (전량 반환).\n`CLOSED` 는 미지원이므로 현재 효과가 없습니다.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PaginatedOrderResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "pendingMixed": {
                    "summary": "대기중 주문 — 국내+해외 혼합 (전량 반환)",
                    "value": {
                      "result": {
                        "orders": [
                          {
                            "orderId": "bAGzNvMOOTa5Uy0xVzYNbxDJ3Qpobwau4jDF3hyZZGWbpHm7wha8CFZc7aXVOWAl",
                            "symbol": "005930",
                            "side": "BUY",
                            "orderType": "LIMIT",
                            "timeInForce": "DAY",
                            "status": "PENDING",
                            "price": "70000",
                            "quantity": "10",
                            "orderAmount": null,
                            "currency": "KRW",
                            "orderedAt": "2026-03-29T09:30:00+09:00",
                            "canceledAt": null,
                            "execution": {
                              "filledQuantity": "0",
                              "averageFilledPrice": null,
                              "filledAmount": null,
                              "commission": null,
                              "tax": null,
                              "filledAt": null,
                              "settlementDate": null
                            }
                          },
                          {
                            "orderId": "RpP3_wtsiKe9btBvdendaHoBqOIY_Zb_xPkRfYaqCIvf2FXtMDv_mo7VnD7KB-ia",
                            "symbol": "AAPL",
                            "side": "SELL",
                            "orderType": "LIMIT",
                            "timeInForce": "DAY",
                            "status": "PARTIAL_FILLED",
                            "price": "185.5",
                            "quantity": "5",
                            "orderAmount": null,
                            "currency": "USD",
                            "orderedAt": "2026-03-29T10:00:00+09:00",
                            "canceledAt": null,
                            "execution": {
                              "filledQuantity": "2",
                              "averageFilledPrice": "185.25",
                              "filledAmount": "370.5",
                              "commission": "0.66",
                              "tax": "0",
                              "filledAt": "2026-03-29T10:00:05+09:00",
                              "settlementDate": null
                            }
                          }
                        ],
                        "nextCursor": null,
                        "hasNext": false
                      }
                    }
                  },
                  "completedWithNextPage": {
                    "summary": "완료된 주문 — 다음 페이지 있음",
                    "value": {
                      "result": {
                        "orders": [
                          {
                            "orderId": "0d5QIHjmtksbsmM-hBRAgP-ExI8iodGm9fAR5txelPfnMM8XQ_swoJdwL5RpGWMo",
                            "symbol": "005930",
                            "side": "BUY",
                            "orderType": "LIMIT",
                            "timeInForce": "DAY",
                            "status": "FILLED",
                            "price": "70000",
                            "quantity": "10",
                            "orderAmount": null,
                            "currency": "KRW",
                            "orderedAt": "2026-03-28T09:30:00+09:00",
                            "canceledAt": null,
                            "execution": {
                              "filledQuantity": "10",
                              "averageFilledPrice": "70000",
                              "filledAmount": "700000",
                              "commission": "1400",
                              "tax": "0",
                              "filledAt": "2026-03-28T09:31:15+09:00",
                              "settlementDate": "2026-03-30"
                            }
                          }
                        ],
                        "nextCursor": "eyJvcmRlcmVkQXQiOiIyMDI2LTAzLTI4VDA5OjMwOjAwKzA5OjAwIiwib3JkZXJJZCI6Ik9SRDIwMjYwMzI4MDAxIn0=",
                        "hasNext": true
                      }
                    }
                  },
                  "empty": {
                    "summary": "주문 없음",
                    "value": {
                      "result": {
                        "orders": [],
                        "nextCursor": null,
                        "hasNext": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidStatus": {
                    "summary": "유효하지 않은 주문 상태 필터",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "유효하지 않은 주문 상태 필터입니다. OPEN 또는 CLOSED 만 허용됩니다.",
                        "data": {
                          "field": "status",
                          "allowedValues": [
                            "OPEN",
                            "CLOSED"
                          ]
                        }
                      }
                    }
                  },
                  "closedNotSupported": {
                    "summary": "CLOSED 상태 조회 미지원",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "closed-not-supported",
                        "message": "CLOSED 상태 조회는 아직 지원되지 않습니다.",
                        "data": {
                          "field": "status"
                        }
                      }
                    }
                  },
                  "accountHeaderRequired": {
                    "summary": "X-Tossinvest-Account 헤더 누락",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "account-header-required",
                        "message": "x-tossinvest-account 헤더가 필요합니다."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalErrorOrderHistory"
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 생성",
        "description": "매수 또는 매도 주문을 생성합니다.\n\n**수량 지정 방식** — `quantity`, `orderAmount` 중 정확히 하나를 사용:\n- `quantity`: 주문 수량 (주 단위). 지정한 수량만큼 주문\n- `orderAmount`: 주문 금액 (달러). 지정한 금액만큼 주문하며, 체결 수량은 시장가에 따라 결정. US MARKET 전용\n\n**금액 주문 (`orderAmount`)**: 정규장 시간에만 가능합니다. 정규장 외 시간에 호출 시 `422 amount-order-outside-regular-hours` 를 반환합니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "createOrder",
        "security": [
          {
            "oauth2ClientCredentials": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              },
              "examples": {
                "krLimitBuy": {
                  "summary": "국내주식 지정가 매수",
                  "value": {
                    "clientOrderId": "my-order-001",
                    "symbol": "005930",
                    "side": "BUY",
                    "orderType": "LIMIT",
                    "quantity": "10",
                    "price": "70000"
                  }
                },
                "usMarketBuyAmount": {
                  "summary": "해외주식 소수점 시장가 매수 (금액)",
                  "value": {
                    "symbol": "AAPL",
                    "side": "BUY",
                    "orderType": "MARKET",
                    "orderAmount": "100.5"
                  }
                },
                "usLocBuy": {
                  "summary": "해외주식 종가 지정가 매수 (LOC = LIMIT + CLS)",
                  "value": {
                    "symbol": "AAPL",
                    "side": "BUY",
                    "orderType": "LIMIT",
                    "timeInForce": "CLS",
                    "quantity": "10",
                    "price": "185.5"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/OrderResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "result": {
                    "orderId": "0d5QIHjmtksbsmM-hBRAgP-ExI8iodGm9fAR5txelPfnMM8XQ_swoJdwL5RpGWMo",
                    "clientOrderId": "my-order-001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidOrderType": {
                    "summary": "지원하지 않는 호가 유형",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "호가 유형이 올바르지 않습니다.",
                        "data": {
                          "field": "orderType",
                          "allowedValues": [
                            "LIMIT",
                            "MARKET"
                          ]
                        }
                      }
                    }
                  },
                  "invalidTimeInForce": {
                    "summary": "지원하지 않는 유효 조건",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "주문 유효 조건이 올바르지 않습니다.",
                        "data": {
                          "field": "timeInForce",
                          "allowedValues": [
                            "DAY",
                            "CLS"
                          ]
                        }
                      }
                    }
                  },
                  "clsConditionNotMet": {
                    "summary": "종가(CLS) 주문 조건 불충족",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "종가 주문(CLS)은 미국 주식 지정가 주문에만 사용할 수 있습니다.",
                        "data": {
                          "field": "timeInForce",
                          "allowedConditions": {
                            "marketCountry": "US",
                            "orderType": "LIMIT"
                          }
                        }
                      }
                    }
                  },
                  "invalidSide": {
                    "summary": "잘못된 주문 방향",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "주문 방향이 올바르지 않습니다.",
                        "data": {
                          "field": "side",
                          "allowedValues": [
                            "BUY",
                            "SELL"
                          ]
                        }
                      }
                    }
                  },
                  "quantityOrAmountRequired": {
                    "summary": "수량 또는 금액 미지정",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "주문 수량 또는 금액 중 하나를 지정해야 합니다.",
                        "data": {
                          "field": "quantity,orderAmount"
                        }
                      }
                    }
                  },
                  "limitPriceRequired": {
                    "summary": "지정가 주문 가격 미지정",
                    "value": {
                      "error": {
                        "requestId": "01HXYZABCDEFG123456789",
                        "code": "invalid-request",
                        "message": "지정가 주문 시 가격을 지정해야 합니다.",
                        "data": {
                          "field": "price"
                        }
                      }
                    }
                  },
                  "invalidTickSize": {
[...]
